/* 
    Document   : style
    Created on : 28.05.2013, 16:38:14
    Author     : Оля
    Description:
        Purpose of the stylesheet follows.
*/
table {
    padding-left: 39%;
    padding-right: 40%;
    width: 100%;
    border: 0;
   /*background-color: gainsboro;*/
}

td {
    font-size: small;
    font-style: oblique;
    text-align: right;
}

p{
    color : red;
}
